@model BlogTeste2.Models.Post

@using(Html.BeginForm("AdicionaPost", "Home"))
{
    @Html.EditorFor(p => p)

    <button type="submit">Cadastrar</button>
}

@section Scripts{
    @Html.Partial("_Scripts")
}